.App{
  background-color:lightgray;
  min-height:400px;
  width: 450px;
  margin: 40px auto;
  text-align: center;
  padding: 20px;
  box-shadow:
  /* The top layer shadow */
      0 20px 1px rgba(122, 49, 77, 0.15),
          /* The second layer */
      0 10px 0 -5px greenyellow,
          /* The second layer shadow */
      0 20px 1px -4px rgba(0,0,0,0.15),
          /* The third layer */
      0 20px 0 -10px darkgreen,
          /* The third layer shadow */
      0 20px 1px -9px rgba(143, 42, 146, 0.15);
  }

.App {
  text-align: center;
  font-size: inherit;
  font-family: sans-serif;
  font-style:italic ;
  font-stretch: normal; 
  font-feature-settings: normal;
  font-weight: 300;
  font-size:10px;
}


.App-logo {
  height: 40vmin;
}




.taskRow {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 2px solid grey;
}
.completedTask {
  text-decoration: line-through;

}
.button{
  font-style:small;
  color-adjust: black;
    font-style: italic;
    font-size-adjust: initial;
    font-family: Georgia, 'Times New Roman', Times, serif;
    }
 





/*  */