.body {
 margin: 0;
}@media only screen and (max-width: 1400px) {
    body {
      background-color: lightblue;
      color:blue
    }
    @media only screen and (max-width: 1200px) {
      body {
        background-color:lightskyblue;
        color:black
      }
    }
    
   @media only screen and (max-width: 800px) {
      body {
        background-color:rgb(159, 214, 233);
        color:blue
      }
    }
    
    @media only screen and (max-width: 600px) {
      body {
        background-color: lightblue;
        color:blue
      }
    }


  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

.code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.navbar {
  height: 100px;

  background-color: black;
  color:whitesmoke;
  margin-bottom: 15px;
  text-align: center;
  font-size: 70px;
  display:flex;
  justify-content: center;
  align-items: center;
  font-family: cursive;
  font-style: oblique;

}

.Task-Counter {
  font-style: oblique;
   background-color: black; 
}

.button{

  font-style: italic;
  font-size-adjust: initial;
  }
  

.btn-size{
  width: 100px; 
  background-color: rgb(54, 27, 17);
 
}





/* .TaskCounter{
  font-style: italic;
  color: aquamarine; 
 } */
